.bg-gray {
  background-color: rgba(181, 177, 177, 0.51);
}
.accordion {
  padding: 24px 24px 24px 23px;
  --bs-accordion-btn-bg: #076BFF;
  border: none;
  border-radius: 10px;
  margin: 0 0 16px 0;
  --bs-accordion-btn-color: #efefe8;
  --bs-accordion-active-color: #efefe8;
  --bs-accordion-active-bg: #076BFF;

}
